@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-layout{
    @apply grid grid-cols-1 gap-y-5 md:px-6 md:grid-cols-2 md:gap-5 lg:gap-10 mt-10 overflow-x-hidden
}
p {
  white-space: pre-wrap;
}
.rich-text{
 white-space: pre-wrap;
 
}

.align-bottom {
  align-items: flex-end;
}

/* styles/globals.css (or your preferred location) */
.masonry-grid {
  display: flex;
  margin-left: -16px; /* Adjust margin as needed */
}

.masonry-grid_column {
  padding-left: 16px; /* Adjust padding as needed */
  background-clip: padding-box;
}
